@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.mainTitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 8rem;;
    margin-bottom: 3rem;
    color: #fff;
}


.title{
    font-weight: bold;
    font-size: 25px;
    color: #fff;
    text-align: center;
    margin-bottom: 3rem;
}